@charset "UTF-8";
@font-face {
  font-family: "Bicubik";
  font-weight: 400;
  src: url("../fonts/bicubik.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  src: url("../fonts/helveticaneuecyr_roman.otf") format("opentype");
}
html {
  font-size: 16px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  background: url(../assets/bg.jpg) center/cover no-repeat;
}

a,
button,
input,
textarea {
  font-family: "HelveticaNeueCyr", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 12px 0;
  -webkit-transition-property: top, background-color, backdrop-filter;
  transition-property: top, background-color, backdrop-filter;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-logo-link-image {
  display: block;
  max-width: 100%;
  width: 133px;
  height: auto;
}
@media (max-width: 576px) {
  .header-logo-link-image {
    width: 101px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 576px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #eaebef;
}
.header__burger-button::before {
  content: "";
  width: 50px;
  aspect-ratio: 1;
  background: url(../assets/burger.svg) center/18px no-repeat;
}
@media (max-width: 576px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    min-height: calc(100dvh + 12px);
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-transition: background-color ease-out 0.2s;
    transition: background-color ease-out 0.2s;
    pointer-events: none;
  }
}
@media (max-width: 576px) {
  .header__menu.active {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: all;
  }
}
@media (max-width: 576px) {
  .header__menu-wrapper {
    position: absolute;
    top: 24px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: calc(100dvw - 10px);
    width: 380px;
    padding: 56px 26px 26px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    backdrop-filter: blur(32.5px);
    background-color: #c0c3ce;
    -webkit-transform: translateX(110dvw);
            transform: translateX(110dvw);
    -webkit-transition: -webkit-transform ease-out 0.2s;
    transition: -webkit-transform ease-out 0.2s;
    transition: transform ease-out 0.2s;
    transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  }
}
@media (max-width: 576px) {
  .header__menu.active .header__menu-wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header__menu-title {
  display: none;
  margin: 0 0 42px;
  padding-right: 30px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 39px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fff;
}
@media (max-width: 576px) {
  .header__menu-title {
    display: block;
  }
}
.header__menu-close {
  display: none;
}
@media (max-width: 576px) {
  .header__menu-close {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    aspect-ratio: 1;
    cursor: pointer;
  }
}
@media (max-width: 576px) {
  .header__menu-close::before {
    content: "";
    display: inline-block;
    width: 24px;
    aspect-ratio: 1;
    background: url(../assets/close.svg) center/cover no-repeat;
  }
}
.header__social {
  display: none;
}
@media (max-width: 576px) {
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 11px;
    margin: 67px 0 0;
  }
}
.header__social-title {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 118%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.84);
}
.header__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 62px;
  height: 62px;
}
.header__social-link-icon {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 12px;
}
@media (max-width: 576px) {
  .header__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__controls-business, .header__controls-login, .header__controls-instruction {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 16px 28px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 10px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__controls-business, .header__controls-login, .header__controls-instruction {
    width: 100%;
  }
}
.header__controls-business {
  color: #2f3037;
  background-color: #ffffff;
}
.header__controls-business:hover {
  color: #ffffff;
  background-color: #ff2625;
}
.header__controls-business:active {
  color: #ffffff;
  background-color: #b61514;
}
.header__controls-instruction {
  color: #ffffff;
  background-color: #79839c;
  display: none;
}
@media (max-width: 576px) {
  .header__controls-instruction {
    display: inline-block;
  }
}
.header__controls-instruction:hover {
  background-color: #a8adbb;
}
.header__controls-instruction:active {
  background-color: #878d9f;
}
.header__controls-login {
  min-width: 141px;
  background-color: #ff2625;
}
.header__controls-login:hover {
  background-color: #a8adbb;
}
.header__controls-login:active {
  background-color: #878d9f;
}

.first-screen {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #ffffff;
  background: url(../assets/first-screen-bg.jpg) center/cover no-repeat;
}
@media (max-width: 576px) {
  .first-screen {
    border: none;
  }
}
.first-screen__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100dvh - 20px);
  padding: 220px 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 992px) {
  .first-screen__wrapper {
    padding: 116px 0 50px;
  }
}
.first-screen__title {
  max-width: 1100px;
  margin: 0 auto 18px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 84px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .first-screen__title {
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    font-size: 54px;
    text-align: left;
  }
}
.first-screen__description {
  max-width: 704px;
  margin: 0 auto 36px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
}
@media (max-width: 576px) {
  .first-screen__description {
    text-align: left;
  }
}
.first-screen__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.first-screen__controls-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  min-width: 310px;
  padding: 5px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .first-screen__controls-button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.first-screen__controls-button_trial {
  background-color: #ffffff;
}
.first-screen__controls-button_trial:hover {
  background-color: #687189;
}
.first-screen__controls-button_trial:active {
  background-color: #555f7a;
}
.first-screen__controls-button_instruction {
  background-color: #717b96;
}
.first-screen__controls-button_instruction:hover {
  background-color: #ff2625;
}
.first-screen__controls-button_instruction:active {
  background-color: #b61514;
}
.first-screen__controls-button-text {
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.first-screen__controls-button_trial .first-screen__controls-button-text {
  color: #2b374f;
}
.first-screen__controls-button_trial:hover .first-screen__controls-button-text {
  color: #ffffff;
}
.first-screen__controls-button_trial:active .first-screen__controls-button-text {
  color: #ffffff;
}
.first-screen__controls-button_instruction .first-screen__controls-button-text {
  color: #ffffff;
}
.first-screen__controls-button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 8px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.first-screen__controls-button-icon::before {
  content: "";
  display: block;
  width: 16px;
  aspect-ratio: 1;
  background: url(../assets/arrow-top-right.svg) center/cover no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.first-screen__controls-button_trial .first-screen__controls-button-icon {
  background-color: #ff2625;
}
.first-screen__controls-button_trial .first-screen__controls-button-icon::before {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.first-screen__controls-button_trial:hover .first-screen__controls-button-icon {
  background-color: rgba(255, 255, 255, 0.43);
}
.first-screen__controls-button_trial:hover .first-screen__controls-button-icon::before {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.first-screen__controls-button_instruction .first-screen__controls-button-icon {
  background-color: #ffffff;
}
.first-screen__controls-button_instruction:hover .first-screen__controls-button-icon {
  background-color: rgba(255, 255, 255, 0.43);
}
.first-screen__controls-button_instruction:hover .first-screen__controls-button-icon::before {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.first-screen__controls-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 55px;
  margin: 66px 0 0;
}
@media (max-width: 992px) {
  .first-screen__controls-info {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .first-screen__controls-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 992px) {
  .first-screen__controls-info-item:first-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .first-screen__controls-info-item:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.first-screen__controls-info-security, .first-screen__controls-info-auth {
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 576px) {
  .first-screen__controls-info-security, .first-screen__controls-info-auth {
    font-size: 17pxа;
  }
}
.first-screen__controls-info-security {
  max-width: 330px;
  text-align: left;
}
@media (max-width: 992px) {
  .first-screen__controls-info-security {
    max-width: 360px;
  }
}
@media (max-width: 576px) {
  .first-screen__controls-info-security {
    max-width: 290px;
  }
}
.first-screen__controls-info-auth {
  max-width: 564px;
  text-align: right;
}
@media (max-width: 992px) {
  .first-screen__controls-info-auth {
    max-width: 360px;
  }
}
@media (max-width: 576px) {
  .first-screen__controls-info-auth {
    max-width: 290px;
  }
}

.one-entrance {
  padding: 148px 0 136px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #ffffff;
  border-bottom: 0;
}
@media (max-width: 992px) {
  .one-entrance {
    padding: 100px 0;
  }
}
@media (max-width: 576px) {
  .one-entrance {
    padding: 65px 0 136px;
    border-left: none;
    border-right: none;
  }
}
.one-entrance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px 24px;
  max-width: 1130px;
  margin: 0 auto;
}
.one-entrance__title {
  margin: 0 0 84px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 106%;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .one-entrance__title {
    margin-bottom: 60px;
    font-size: 52px;
  }
}
@media (max-width: 576px) {
  .one-entrance__title {
    margin-bottom: 40px;
    font-size: 45px;
    text-align: left;
  }
}
.one-entrance__advantages {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
  max-width: calc(50% - 12px);
  padding: 35px 42px 66px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  clip-path: polygon(40px 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);
}
@media (max-width: 992px) {
  .one-entrance__advantages {
    padding: 26px 26px 66px;
    clip-path: polygon(20px 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% 20px);
  }
}
@media (max-width: 768px) {
  .one-entrance__advantages {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
}
.one-entrance__advantages_business {
  background: rgba(119, 129, 156, 0.39);
}
.one-entrance__advantages_users {
  background-color: rgba(104, 115, 144, 0.81);
}
.one-entrance__advantages-tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 25px;
  padding: 9px 12px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 118%;
  color: #fff;
  border-radius: 8px;
}
.one-entrance__advantages_business .one-entrance__advantages-tag {
  background: rgba(255, 255, 255, 0.14);
}
.one-entrance__advantages_users .one-entrance__advantages-tag {
  background: rgba(255, 255, 255, 0.14);
}
.one-entrance__advantages-title {
  margin: 0 0 25px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 37px;
  line-height: 118%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  word-wrap: break-word;
  word-break: normal;
}
.one-entrance__advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.one-entrance__advantages-list-item {
  padding: 23px 0 31px;
  border-top: 1px solid rgba(255, 255, 255, 0.19);
}
@media (max-width: 992px) {
  .one-entrance__advantages-list-item {
    padding: 24px 0;
  }
}
.one-entrance__advantages-list-item:last-child {
  padding-bottom: 0;
}
.one-entrance__advantages-list-item-icon {
  margin: 0 0 19px;
}
@media (max-width: 992px) {
  .one-entrance__advantages-list-item-icon {
    margin-bottom: 16px;
  }
}
.one-entrance__advantages-list-item-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.one-entrance__advantages-list-item-title {
  margin: 0 0 11px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #fff;
}
.one-entrance__advantages-list-item-text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #fff;
}

.footer {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
}
@media (max-width: 576px) {
  .footer {
    border: none;
  }
}
.footer__inner {
  background-color: #ffffff;
  clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% 0%);
}
@media (max-width: 576px) {
  .footer__wrapper {
    padding: 0 5px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 22px 40px;
  padding: 38px 0 65px;
}
@media (max-width: 992px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .footer__top {
    padding: 28px 0 58px;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 24px;
}
@media (max-width: 992px) {
  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__info-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__info-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__info-logo-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer__info-slogan {
  max-width: 264px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: -0.03em;
  color: #353d51;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 416px;
          flex: 0 1 416px;
  gap: 40px;
}
.footer__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 14px;
}
@media (max-width: 576px) {
  .footer__menu-block_navigation {
    display: none;
  }
}
.footer__menu-title {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 118%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #a4a1b2;
}
.footer__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 576px) {
  .footer__menu-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 11px;
  }
}
.footer__menu-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 207%;
  letter-spacing: -0.03em;
  color: #353d51;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
@media (max-width: 576px) {
  .footer__menu-nav-link {
    display: none;
  }
}
.footer__menu-nav-link:hover {
  color: #ff2625;
}
@media (max-width: 576px) {
  .footer__menu-nav-link_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}
.footer__menu-nav-link_social::after {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 30px;
  aspect-ratio: 1;
  background: url(../assets/arrow-top-right.svg) center/12px no-repeat;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}
@media (max-width: 576px) {
  .footer__menu-nav-link_social::after {
    display: none;
  }
}
.footer__menu-nav-link-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
}
@media (max-width: 576px) {
  .footer__menu-nav-link_social .footer__menu-nav-link-text {
    display: none;
  }
}
.footer__menu-nav-link-icon {
  display: none;
}
@media (max-width: 576px) {
  .footer__menu-nav-link-icon {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.footer__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 12px;
}
@media (max-width: 992px) {
  .footer__controls {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .footer__controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__controls-business, .footer__controls-login {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 16px 28px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 10px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .footer__controls-business, .footer__controls-login {
    display: none;
  }
}
.footer__controls-business {
  background-color: #a8adbb;
}
.footer__controls-business:hover {
  background-color: #ff2625;
}
.footer__controls-business:active {
  background-color: #b61514;
}
.footer__controls-login {
  background-color: #ff2625;
}
.footer__controls-login:hover {
  background-color: #a8adbb;
}
.footer__controls-login:active {
  background-color: #878d9f;
}
.footer__controls-trial, .footer__controls-instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  gap: 16px;
  padding: 5px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  display: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .footer__controls-trial, .footer__controls-instruction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__controls-trial-text, .footer__controls-instruction-text {
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.footer__controls-trial-icon, .footer__controls-instruction-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 8px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.footer__controls-trial-icon::before, .footer__controls-instruction-icon::before {
  content: "";
  display: block;
  width: 16px;
  aspect-ratio: 1;
  background: url(../assets/arrow-top-right.svg) center/cover no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.footer__controls-trial {
  background-color: rgba(233, 233, 233, 0.68);
}
.footer__controls-trial:hover {
  background-color: #687189;
}
.footer__controls-trial:active {
  background-color: #555f7a;
}
.footer__controls-trial-text {
  color: #2b374f;
}
.footer__controls-trial:hover .footer__controls-trial-text {
  color: #ffffff;
}
.footer__controls-trial:active .footer__controls-trial-text {
  color: #ffffff;
}
.footer__controls-trial-icon {
  background-color: #ff2625;
}
.footer__controls-trial-icon::before {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.footer__controls-trial:hover .footer__controls-trial-icon {
  background-color: rgba(255, 255, 255, 0.43);
}
.footer__controls-trial:hover .footer__controls-trial-icon::before {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.footer__controls-instruction {
  background-color: #717b96;
}
.footer__controls-instruction:hover {
  background-color: #ff2625;
}
.footer__controls-instruction:active {
  background-color: #b61514;
}
.footer__controls-instruction-text {
  color: #ffffff;
}
.footer__controls-instruction-icon {
  background-color: #ffffff;
}
.footer__controls-instruction:hover .footer__controls-instruction-icon {
  background-color: rgba(255, 255, 255, 0.43);
}
.footer__controls-instruction:hover .footer__controls-instruction-icon::before {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 40px;
  padding: 29px 0 19px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
@media (max-width: 576px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 18px 0;
    border-top: none;
  }
}
.footer__bottom-copyright, .footer__bottom-policy {
  font-weight: 400;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: -0.02em;
  color: #26262c;
  opacity: 0.44;
}