html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.one-entrance {
  padding: 148px 0 136px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../assets/bg.jpg) center/cover no-repeat;
}
.one-entrance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px 24px;
  max-width: 1130px;
  margin: 0 auto;
}
.one-entrance__title {
  margin: 0 0 84px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 106%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .one-entrance__title {
    margin-bottom: 60px;
    font-size: 52px;
  }
}
@media (max-width: 992px) {
  .one-entrance__title {
    margin-bottom: 40px;
    font-size: 45px;
  }
}
.one-entrance__advantages {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
  max-width: calc(50% - 12px);
  padding: 35px 42px 66px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  clip-path: polygon(40px 0%, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0% 40px);
}
@media (max-width: 992px) {
  .one-entrance__advantages {
    padding: 26px 26px 66px;
    clip-path: polygon(20px 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% 20px);
  }
}
@media (max-width: 768px) {
  .one-entrance__advantages {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
}
.one-entrance__advantages_business {
  background: rgba(119, 129, 156, 0.24);
  backdrop-filter: blur(33.5999984741px);
}
.one-entrance__advantages_users {
  background-color: rgba(104, 115, 144, 0.81);
  backdrop-filter: blur(33.5999984741px);
}
.one-entrance__advantages-tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 25px;
  padding: 9px 12px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #fff;
  border-radius: 8px;
  background: rgba(124, 137, 171, 0.14);
}
.one-entrance__advantages-title {
  margin: 0 0 25px;
  font-family: "Bicubik", sans-serif;
  font-weight: 400;
  font-size: 37px;
  line-height: 118%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  word-wrap: break-word;
  word-break: normal;
}
.one-entrance__advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.one-entrance__advantages-list-item {
  padding: 23px 0 31px;
  border-top: 1px solid rgba(255, 255, 255, 0.19);
}
@media (max-width: 992px) {
  .one-entrance__advantages-list-item {
    padding: 24px 0;
  }
}
.one-entrance__advantages-list-item:last-child {
  padding-bottom: 0;
}
.one-entrance__advantages-list-item-icon {
  margin: 0 0 19px;
}
@media (max-width: 992px) {
  .one-entrance__advantages-list-item-icon {
    margin-bottom: 16px;
  }
}
.one-entrance__advantages-list-item-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.one-entrance__advantages-list-item-title {
  margin: 0 0 11px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #fff;
}
.one-entrance__advantages-list-item-text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #fff;
}